<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid_19 Tracker</title>
</head>

<!--css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">


<body>
     <!-- As a link -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="">Hey, Let's track the real time Covid-19 cases in India</a>
    </nav>


    </div>
    <center>
        <h1>Covid_19 Live Tracker</h1>
    </center>
    <div>
        {{table | safe }}
    </div>
    <center><div><h5>  © 2020, by Siddhant kumar Mishra (SKM), Covid_19 Tracker
          </h5></div></center>


    
    
</body>

<!--javascripts-->

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>







</html>
